* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    color: #f4f1de;

}

h2 {
    color: black;
}

p {
    color: black;
}

#select {
    display: none;
}

.card {
    width: 400px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px rgb(0, 0, 0, .3);
    text-align: center;
    margin-top: 30px
}

.img {
    width: 400px;
    height: 230px;
    background: url(../images/悟空.jpg) no-repeat center center;
    background-size: cover;
}

.img2 {
    width: 400px;
    height: 230px;
    background: url(../images/泰坦.jpg) no-repeat center center;
    background-size: cover;
}

.img3 {
    width: 400px;
    height: 230px;
    background: url(../images/大表哥.jpg) no-repeat center center;
    background-size: cover;
}

.img4 {
    width: 400px;
    height: 230px;
    background: url(../images/背景10.webp) no-repeat center center;
    background-size: cover;
}

.img5 {
    width: 400px;
    height: 230px;
    background: url(../images/背景8.webp) no-repeat center center;
    background-size: cover;
}

.img6 {
    width: 400px;
    height: 230px;
    background: url(../images/街道.jpg) no-repeat center center;
    background-size: cover;
}


.title {
    font-size: 30px;
    color: rgb(88, 88, 88);
    margin: 30px 0 15px 0;
    transition: all .6s;
    transition-delay: .2s;
}

.content {
    display: none;
    height: 1200px;
    text-align: center;
    padding: 0 20%;
    line-height: 40px;
    background-color: #ffffff;
}


.content p {
    margin: 20px 0;
    text-align: left;
    display: table;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 0 20px;
    /* 两个盒子之间添加一些间隔 */
}