* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    color: #f4f1de;

}

body {
    background-image: url(../);
}

img {
    width: 700px;
    border-radius: 6px;
}